<div id="buffet<%= @buffet.id %>">
  <h1><%= @buffet.brand_name %></h1>
  <p><%= @buffet.description %></p>
  <% if buffet_profile_signed_in? %>
    <p><%= @buffet.full_information %></p>
  <% else %>
    <p><%= @buffet.cnpj %></p>
  <% end %>
  <p><%= @buffet.full_address %></p>
  <p><%= @buffet.phone %></p>
  <p><%= @buffet.email %></p>
  <% @buffet.payments.each do |p| %>
    <%= p.name %>
  <% end %>
</div>

<% if buffet_profile_signed_in? %>
  <br>
  <div>
    <%= link_to 'Edit Buffet', edit_buffet_path(@buffet) %>
  </div>
<% end %>

<hr>