<!DOCTYPE html>
<html>
  <head>
    <title>BuffetApp2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <% if !buffet_profile_signed_in? %>
        <div class="header_logo"><h1> <%= link_to 'Cadê Buffet?', buffets_path %> </h1></div>
      <% else %>
        <% if current_buffet_profile.buffet %>
          <div class="header_logo"><h1> <%= link_to 'Cadê Buffet?', buffet_path(current_buffet_profile.buffet) %> </h1></div>
        <% else %>
          <div class="header_logo"><h1>Cadê Buffet?</h1></div>
        <% end %>
      <% end %>

      <div class="user-session">
        <% if customer_signed_in? %>
          <div class="user-info">
            <h3><%= current_customer.name %></h3>
            <%= button_to 'Sign out', destroy_customer_session_path, method: :delete %>
            <%= link_to 'Edit registration', edit_customer_registration_path %>
          </div>
        <% elsif buffet_profile_signed_in? %>
          <div class="user-info">
            <% if current_buffet_profile.buffet%>
              <h3><%= current_buffet_profile.buffet.brand_name %></h3>
            <% else %>
              <h4>Register the buffet!</h4>
            <% end %>
            <%= button_to 'Sign out', destroy_buffet_profile_session_path, method: :delete %>
            <%= link_to 'Edit registration', edit_buffet_profile_registration_path %>
          </div>
        <% else %>
          <div class="user-signin">
            <h3>Customer</h3>
            <%= link_to 'Sign in', new_customer_session_path %>
            <%= link_to 'Sign up', new_customer_registration_path %>
          </div>
          <div class="user-signin">
            <h3>Buffet Profile</h3>
            <%= link_to 'Sign in', new_buffet_profile_session_path %>
            <%= link_to 'Sign up', new_buffet_profile_registration_path %>
          </div>
        <% end %>
      </div>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
